<p id="notice"><%= notice %></p>

<p>
  <strong>Civilite:</strong>
  <%= @uneautrepage.civilite %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @uneautrepage.prenom %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @uneautrepage.nom %>
</p>

<%= link_to 'Edit', edit_uneautrepage_path(@uneautrepage) %> |
<%= link_to 'Back', uneautrepages_path %>
